.sidebar h3{

margin-top:20px;
font-size:14px;
color:#9ca3af;

}

.sidebar a{

font-size:14px;

}

.content h1{

margin-top:0;

}

.admin{

background:#1f2937;
padding:6px;
margin-top:5px;

}
